* {
  margin: 0;
  box-sizing: border-box;
}

header {
  background-color: #44AB2A;
  padding: 15px 3%;
  width: 100%;

  position: fixed;
  top: 0;
  left: 0;
}

nav {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;

  max-width: 992px;
  margin: 0 auto;
}

a {
  text-decoration: none;
  color: #FFFFFF;
};

.nav-menu {
  margin: 0;
  padding: 0;

  display: flex;
  gap: 15px;

  .nav-menu-item {
    width: max-content;
    list-style-type: none;
  }

  .nav-menu-link:hover {
    text-decoration: underline;
  }
}
