<main id="screen">
  <div class="page-title">
    <h1 class="title">{{project.title}}</h1>
  </div>
  <div class="containing-block" *ngIf="!isDesktopScreen; else desktopView">
    <article class="project-container">
      <div class="project-image">
        <img src="../../../assets/images/projects/laptop.png" alt="Photo of a laptop">
      </div>

      <div class="row">
        <h2 class="subtitle">Sobre el proyecto ✍️</h2>
        <div class="project-description">
          <p>{{project.description}}</p>
        </div>
      </div>

      <div class="row">
        <h2 class="subtitle">Tecnologías 🧑‍💻</h2>
        <ul class="project-technologies">
          <li class="technology" *ngFor="let tech of project.technologies">
            <div class="tech-icon" *ngIf="technologiesService.isIconOrSvg(tech.toLowerCase()); else svg">
              <i class="{{technologiesService.getTechnology('icon', tech.toLowerCase())}}"></i>
            </div>
            <ng-template #svg>
              <div class="tech-svg">
                <img src="{{technologiesService.getTechnology('svg', tech.toLowerCase())}}" alt="">
              </div>
            </ng-template>
            <p>{{tech}}</p>
          </li>
        </ul>
      </div>

      <div class="row">
        <h2 class="subtitle">Demo🏌️‍♂️</h2>
        <div class="demo">
          <iframe height="315" [src]="project.demo | safe" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        </div>
      </div>

      <div class="cta-buttons">
        <button *ngIf="project.github" class="cta-button white-button">
          <a [href]="project.github" target="_blank">Github</a>
        </button>
        <button *ngIf="project.live" class="cta-button red-button">
          <a [href]="project.live" target="_blank">Live</a>
        </button>
      </div>
    </article>
  </div>

  <ng-template #desktopView>
    <div class="desktop-container">
      <div class="card">
        <div class="card-img">
          <img src="../../../assets/images/projects/laptop.png" alt="Photo of a laptop">
        </div>
        <div class="card-info">
          <div class="card-description">
            <p>{{project.description}}</p>
          </div>
          <div class="cta-buttons">
            <button *ngIf="project.github" class="cta-button white-button">
              <a [href]="project.github" target="_blank">Github</a>
            </button>
            <button *ngIf="project.live" class="cta-button red-button">
              <a [href]="project.live" target="_blank">Live</a>
            </button>
          </div>
        </div>
      </div>

      <div class="row">
        <h2 class="subtitle">Tecnologías 🧑‍💻</h2>
        <ul class="project-technologies">
          <li class="technology" *ngFor="let tech of project.technologies">
            <div class="tech-icon" *ngIf="technologiesService.isIconOrSvg(tech.toLowerCase()); else svg">
              <i class="{{technologiesService.getTechnology('icon', tech.toLowerCase())}}"></i>
            </div>
            <ng-template #svg>
              <div class="tech-svg">
                <img src="{{technologiesService.getTechnology('svg', tech.toLowerCase())}}" alt="">
              </div>
            </ng-template>
            <p>{{tech}}</p>
          </li>
        </ul>
      </div>
      <div class="row">
        <h2 class="subtitle">Demo🕹️</h2>
        <div class="demo">
          <iframe height="315" [src]="project.demo | safe" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        </div>
      </div>
    </div>
  </ng-template>
</main>
