<div class="page">
  <main>
    <div class="pfp-container">
      <img src="assets/images/cat.jpg" alt="Profile photo">
    </div>
    <div class="greeting">
      <h1>
        <span>¡Hola! Mi nombre es</span> Gonzalo Barrazueta
      </h1>
    </div>
    <div class="social-media">
      <a href="https://github.com/" target="_blank"><img ngSrc="assets/images/github-mark.png" [height]="snsLogoWidth" [width]="snsLogoWidth"></a>
      <a href="https://www.linkedin.com/" target="_blank"><img ngSrc="assets/images/linkedin-logo.png" [height]="snsLogoWidth" [width]="snsLogoWidth"></a>
    </div>
    <div class="projects-btn">
      <button>Ver proyectos</button>
    </div>
  </main>
</div>
