<main>
  <div class="row">
    <div class="pfp-container">
      <img src="assets/images/cat.jpg" alt="Profile photo">
    </div>
    <div class="presentation">
      <p>
        ¡Hola! 👋
        Mi nombre es <span class="gradient-text">Gonzalo Barrazueta</span>
        Soy estudiante de Ingeniería de Software en la UPC y
        <a href="https://www.linkedin.com/posts/gonzalobarrazueta_estoy-emocionado-por-anunciar-que-me-he-unido-activity-7150886531652624384-UIsx?utm_source=share&utm_medium=member_desktop" target="_blank">practicante en Interbank</a>.
        Puedes ver todos los proyectos en los que he trabajado aquí 👇
      </p>
      <div class="projects-btn">
        <button routerLink="/projects">Ver proyectos</button>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="social-media">
      <a class="tech-logo" href="https://github.com/gonzalobarrazueta" target="_blank">
        <i class="devicon-github-original"></i>
      </a>
      <a class="tech-logo" href="https://www.linkedin.com/in/gonzalobarrazueta" target="_blank">
        <i class="devicon-linkedin-plain"></i>
      </a>
    </div>
  </div>
</main>
