* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
}

:host {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: auto;
}

main {
  display: flex;
  flex-flow: column nowrap;
  gap: 20px;
  width: 85%;
}

.row {
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
  gap: 20px;
}

.pfp-container {
  width: 50%;
  max-width: 180px;
  border: 2px solid #000000;
  border-radius: 50%;

  overflow: hidden;
  display: flex;

  img {
    width: 100%;
    object-fit: cover;
  }
}

.presentation {
  display: flex;
  flex-flow: column wrap;
  gap: 10px;

  p {
    font-weight: 500;
  }

  .gradient-text {
    display: block;
    font-family: 'Poppins', sans-serif;
    font-size: 1.8rem;

    background-image: linear-gradient(90deg, #08203e, #557c93);
    -webkit-background-clip: text;
    color: transparent;
    text-transform: uppercase;
  }

  a {
    color: #000000;
  }
}

.social-media {
  display: flex;
  flex-flow: row wrap;
  gap: 20px;

  width: 50%;
  max-width: 250px;

  .tech-logo {
    font-size: 2.3rem;
    color: #000000;
    text-decoration: none;
  }
}

.projects-btn button {
  background-color: #58CE3A;
  padding: 10px 15px;
  border: 0;
  border-radius: 5px;
  max-width: 200px;

  font-size: .8rem;
  font-weight: 600;
  color: #ffffff;

  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  cursor: pointer;
}

@media (min-width: 1000px) {

  .row {
    flex-flow: row nowrap;
    align-items: center;
  }

  .pfp-container {
    width: 50%;
    max-width: 250px;
    border-radius: 15px;
  }

  .presentation {
    display: flex;
    flex-flow: column wrap;
    gap: 10px;

    p {
      font-size: 1.25rem;
      font-weight: 500;

      .gradient-text {
        font-size: 2.5rem;
      }
    }
  }

  .row:nth-child(2) {
    justify-content: start;
  }

  .social-media {
    .tech-logo {
      font-size: 3rem;
    }
  }

  .projects-btn button {
    border-radius: 3px;
    max-width: 200px;
    font-size: 1rem;
  }
}
