<main>
  <div class="row">
    <div class="pfp-container">
      <img src="assets/images/pfp.jpg" alt="Profile photo">
    </div>
    <div class="presentation">
      <p>
        ¡Hola! 👋
        Mi nombre es <span class="gradient-text">Gonzalo Barrazueta</span>
        Soy estudiante de la carrera de Ingeniería de Software en la UPC y
        <a href="https://www.linkedin.com/posts/gonzalobarrazueta_datascience-ibm-internship-activity-7273380465141551104-CrW-?utm_source=share&utm_medium=member_desktop&rcm=ACoAADKdJhkBsEHbcCYyfzvmX3qvb8y2IOstmlA" target="_blank">practicante de ciencia de datos en IBM</a>.
        <br>Puedes ver todos los proyectos en los que he trabajado presionando este botón 👇
      </p>
      <div class="projects-btn">
        <button routerLink="/projects">Ver proyectos</button>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="social-media">
      <a class="tech-logo" href="https://github.com/gonzalobarrazueta" target="_blank">
        <i class="devicon-github-original"></i>
      </a>
      <a class="tech-logo" href="https://www.linkedin.com/in/gonzalobarrazueta" target="_blank">
        <i class="devicon-linkedin-plain"></i>
      </a>
    </div>
  </div>
</main>
